<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To show the listing details</title>
</head>
<body>
    <div>
        <img src="<%= listing.image.url %>" alt="listing image" class="listing-image">
        <h1><%= listing.title %></h1>
        <p><%= listing.description %></p>
        <p>Price: $<%= listing.price %></p>
        <p>Location: <%= listing.location %></p>
        <p>Country: <%= listing.country %></p>
    </div>
</body>
</html>